@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'OpenSans';
  src: url('/public/fonts/OpenSans-Regular.ttf');
}

@media (max-width: 640px) {
  .default-container {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

,
.toggle-checkbox {
  border-color: #10a4c4;
}

.toggle-checkbox:checked {
  right: 0;
  border-color: #68d391;
}
.toggle-checkbox:checked + .toggle-label {
  background-color: #68d391;
}

@media (max-width: 768px) {
  .swiper-wrapper {
    text-align: -webkit-center;
  }
}
